# Copy this to .env in the same directory
SERVER_ADDRESS=localhost
GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=db sslmode=verify-full"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./infrastructure/adapters/postgresql/migrations